<div class="container">
    <div class="row">
        <h2>Welcome To Nissan Digital India LLP</h2>
        <!--First-->
        <div class="col-sm">
            <a href="/login"
            role="button"
            class="btn btn-outline-primary btn-lg btn-block text-center"
            ><span>
                <i class="fa fa-sign-in fa-1x">Sign In</i>
            </span>
        </a>
        </div>
        <!--Second-->
        <div class="col-sm">
            <a href="/news"
            role="button"
            class="btn btn-outline-primary btn-lg btn-block text-center"
            ><span>
                <i class="fa fa-dashboard fa-1x">News</i>
            </span>
        </a>
        </div>
    </div>
</div>
